{{ template "header.html" . }}
<style>
	button:disabled {
		opacity: 0.3;
		cursor: not-allowed;
	}
</style>
<body class="bg-gray-100">

	{{ template "menu.html" . }}

	<div class="container mx-auto bg-gray-100 min-h-[calc(100vh-8rem)] flex items-center justify-center mt-64">
		<div class="max-w-md w-full p-8 bg-white rounded-md shadow-md">
			<div class="flex items-center justify-between">
				<h2 class="text-2xl font-semibold mb-6">Login</h2>
				<p id="errorText" class="text-red-500 text-lg font-bold hidden mb-6">Invalid username or password</p>
			</div>
			<form id="loginForm" class="mb-4">
				<div class="mb-4">
					<label for="username" class="block text-sm font-medium text-gray-600">Username</label>
					<input type="text" id="username" name="username" class="mt-1 p-2 w-full border rounded-md">
				</div>
				<div class="mb-4">
					<label for="password" class="block text-sm font-medium text-gray-600">Password</label>
					<input type="password" id="password" name="password" class="mt-1 p-2 w-full border rounded-md">
				</div>
				<button type="submit" id="loginBtn" class="w-full py-2 bg-green-500 text-white rounded-md hover:bg-green-600 focus:outline-none focus:ring focus:border-green-300" disabled>
					Login
				</button>
			</form>
		</div>
	</div>

	<script>
		const nameInput = document.getElementById('username');
		const passwordInput = document.getElementById('password');
		const loginBtn = document.getElementById('loginBtn');
		const errorText = document.getElementById('errorText');

		nameInput.addEventListener('input', validateFields);
		passwordInput.addEventListener('input', validateFields);

		function validateFields() {
			const usernameValue = nameInput.value.trim();
			const passwordValue = passwordInput.value.trim();

			if (usernameValue !== '' && passwordValue !== '') {
				loginBtn.removeAttribute('disabled');
				nameInput.classList.remove('border-red-500');
				passwordInput.classList.remove('border-red-500');
				errorText.classList.add('hidden');
			} else {
				loginBtn.setAttribute('disabled', 'disabled');
			}
		}

		document.getElementById('loginForm').addEventListener('submit', function(event) {
			event.preventDefault();

			const data = {
				name: nameInput.value,
				password: passwordInput.value
			};

			fetch('./authenticate', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',
				},
				body: JSON.stringify(data)
			})
			.then(response => response.json())
			.then(data => {
				if (data.success && data.redirectURL) {
					window.location.href = data.redirectURL;
				} else {
					errorText.textContent = 'Invalid Login. Please try again.';
					errorText.classList.remove('hidden');
					nameInput.classList.add('border-red-500');
					passwordInput.classList.add('border-red-500');
				}
			})
			.catch(error => {
				console.error('Login failed', error);
				errorText.textContent = 'Invalid Login. Please try again.';
				errorText.classList.remove('hidden');
				nameInput.classList.add('border-red-500');
				passwordInput.classList.add('border-red-500');
			});
		});
	</script>

</body>
</html>