<div class="bg-blue-500 text-white p-2 sm:p-4">
	<div class="container mx-auto">
		<div class="flex items-center justify-between mb-2 sm:mb-4">
			<div class="flex items-center">
				<img src="/static/images/kayaking-staugustine-logo-512.webp" alt="Sea Cow Phone Logo" class="h-12 sm:h-20 mr-2 sm:mr-4">
				<h1 class="text-lg sm:text-xl font-semibold">Sea Cow Phone</h1>
				{{if .Name}}
				<div class="flex items-center ml-2 sm:ml-4 text-sm sm:text-base">
					<span class="mr-1 sm:mr-2">Logged in as:</span>
					<span class="font-semibold">{{.Name}}</span>
				</div>
				{{end}}
			</div>
		</div>
		{{if .Name}}
		<div class="flex justify-between items-center">
			<div class="flex flex-wrap gap-1 sm:gap-2 w-full">
				<div class="relative">
					<a href="/calls" class="flex items-center text-white font-bold border border-white px-2 sm:px-4 py-1 rounded-md transition duration-300 ease-in-out transform hover:bg-white hover:text-blue-500 hover:scale-105 active:scale-95 text-sm sm:text-base">
						<i class="fas fa-phone mr-1 sm:mr-2"></i>
						Calls
					</a>
					<!--<span class="absolute -top-1 -right-1 flex items-center justify-center h-5 w-5 rounded-full bg-red-500 text-white text-[10px] leading-tight">{{.MissedCalls}}</span>-->
				</div>
				<div class="relative">
					<a href="/sms" class="flex items-center text-white font-bold border border-white px-2 sm:px-4 py-1 rounded-md transition duration-300 ease-in-out transform hover:bg-white hover:text-blue-500 hover:scale-105 active:scale-95 text-sm sm:text-base">
						<i class="fas fa-message mr-1 sm:mr-2"></i>
						Messages
					</a>
					<!--<span class="absolute -top-1 -right-1 flex items-center justify-center h-5 w-5 rounded-full bg-red-500 text-white text-[10px] leading-tight">{{.UnreadMessages}}</span>-->
				</div>
				{{if .IsAdmin}}
				<a href="/settings" class="flex items-center text-white font-bold border border-white px-2 sm:px-4 py-1 rounded-md transition duration-300 ease-in-out transform hover:bg-white hover:text-blue-500 hover:scale-105 active:scale-95 text-sm sm:text-base">
					<i class="fas fa-cog mr-1 sm:mr-2"></i>
					Settings
				</a>
				{{end}}
				<a href="/logout" class="flex items-center text-white font-bold border border-white px-2 sm:px-4 py-1 rounded-md transition duration-300 ease-in-out transform hover:bg-white hover:text-blue-500 hover:scale-105 active:scale-95 text-sm sm:text-base">
					<i class="fas fa-sign-out-alt mr-1 sm:mr-2"></i>
					Logout
				</a>
			</div>
		</div>
		{{end}}
	</div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
	fetch('/notifications')
		.then(response => response.json())
		.then(data => {
			if (data.missedCalls > 0) {
				const missedCallsBadge = document.querySelector('.missed-calls-badge');
				missedCallsBadge.textContent = data.missedCalls;
				missedCallsBadge.style.display = 'flex';
			}

			if (data.unreadMessages > 0) {
				const unreadMessagesBadge = document.querySelector('.unread-messages-badge');
				unreadMessagesBadge.textContent = data.unreadMessages;
				unreadMessagesBadge.style.display = 'flex';
			}
		})
		.catch(error => console.error('Error fetching notifications:', error));
});
</script>